---
import Layout from "../layouts/Layout.astro"
import Login from "../components/Login.astro"

if (Astro.locals.user) {
  return Astro.redirect("/apps")
}
---

<Layout title="Welcome to Codius.">
  <main>
    <Login />
  </main>
</Layout>
