---
import { FiGithub } from "react-icons/fi"
---

<a
  href="/login/github"
  class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2"
  role="button"
>
  <span class="icon"><FiGithub /></span> Log in with GitHub
</a>

<style>
  .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
  }
  .icon svg {
    height: 1em;
    width: 1em;
  }
</style>
